{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <h1 class="display-4 text-center mb-5">관광지 정보</h1>
    <div class="card border-0 shadow-lg">
        <div class="card-body">
            <h2 class="card-title text-center text-primary"><strong>{{ selected_spot_main.name }}</strong></h2>
            <p class="card-text lead text-center"><strong>{{ selected_spot_info.intro }}</strong></p>
            <hr>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>상세정보:</strong> {{ selected_spot_info.info }}</li>
                <li class="list-group-item"><strong>이용시간:</strong> {{ selected_spot_period.open_hour_2 }}</li>
                <li class="list-group-item"><strong>입장료:</strong> {{ selected_spot_info.price_2 }}</li>
                <li class="list-group-item"><strong>전화번호:</strong> {{ selected_spot_main.contact }}</li>
                <li class="list-group-item"><strong>주소:</strong> {{ selected_spot_main.address }}</li>
                <li class="list-group-item"><strong>주차시설:</strong> {{ selected_spot_etc.parking }}</li>
                <li class="list-group-item"><strong>지역:</strong> {{ selected_spot_main.area }}</li>
            </ul>
            <hr>
            <h3 class="text-primary mb-4 text-center"><strong>이미지 갤러리</strong></h3>
            <div class="row">
                {% for image_name in image_names %}
                <div class="col-md-4 mb-4">
                    <div class="card border-0 shadow">
                        <img src="/media/TourImg/{{image_name}}" class="card-img-top" alt="관광지 이미지" style="max-width: 100%; max-height: 200px;">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}