{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <div class="text-center mb-5" style="margin-bottom: 20px;">
      <h1 class="display-5 text-dark font-weight-bold">안녕하세요! "MoodTrip"에 오신 것을 진심으로 환영합니다.</h1>
      <p class="lead" style="margin-top: 15px;">여러분의 마음을 담은 이미지를 통해 완벽한 여행지를 찾아드립니다. 여행지를 찾는 새로운 방식, 바로 여러분의 감성을 반영한 여행지를 추천해드립니다. 여러분을 위한 특별한 여행 경험을 제공하는 서비스로 여러분을 안내합니다.</p>
    </div>

    <div class="mb-5">
      <h2 class="h4 text-dark">MoodTrip 소개</h2>
      <p><em>'MoodTrip' 이란?</em></p>
      <p>여러분이 선택한 이미지의 분위기를 분석하여 맞춤형 여행지를 추천하는 서비스입니다. 여행은 단순한 목적지에 도달하는 것이 아니라 우리의 감성을 표현하는 특별한 순간이며, "MoodTrip"은 여러분들의 감성을 담아 특별한 경험으로 만들어 드리고자 합니다.</p>
      <p>여러분이 그린 감성적인 여행의 시작, "MoodTrip"이 함께 합니다.</p>
    </div>

    <div class="mb-5">
      <h2 class="h4 text-dark">서비스 특징</h2>
      <p>여러분만의 여행지를 찾아보세요</p>
      <ul>
        <li>분위기 선택: 여러분이 좋아하는 분위기를 선택하세요. 감성적인 해변? 아니면 활기찬 도시의 밤거리? 여러분의 취향을 알려주세요.</li>
        <li>이미지 업로드: 여러분의 기분을 대변하는 사진을 업로드하세요. 우리의 AI가 분석하여 여러분에게 딱 맞는 여행지를 추천합니다. (회원 전용)</li>
        <li>관광지 탐험: AI가 선별한 여행지 리스트를 확인하세요. 여러분이 선택한 분위기에 기반하여 최적의 목적지를 제안합니다.</li>
        <li>세심한 필터링: 지역, 비용, 반려동물 동반이 가능한지 등 세부 조건을 설정하여 여행지를 필터링할 수 있습니다.</li>
      </ul>
    </div>

    <div class="mb-5">
      <h2 class="h4 text-dark">커뮤니티 기능</h2>
      <p>커뮤니티에서 여행 이야기를 나누어요</p>
      <p>여행 후기를 남기고, 다른 여행자들과 소통할 수 있는 커뮤니티도 준비되어 있습니다. 여러분의 소중한 경험이 다른 사람들에게 영감을 줄 수 있어요.</p>
    </div>

    <div class="mb-5">
      <h2 class="h4 text-dark">고객지원</h2>
      <p>여행 도중 궁금한 사항이나 문제가 발생하면 언제든지 고객 지원 센터에 문의해주세요. 여러분의 여행이 더욱 즐겁고 편안하도록 도움드리겠습니다.</p>
    </div>

    <div class="text-center">
      <p class="lead text-dark">'MoodTrip'은 여러분의 편안하고 즐거운 여행을 위해 항상 함께합니다.</p>
    </div>

    <div class="text-center">
      <p class="lead text-dark">'MoodTrip'과 함께라면 여행은 단순한 이동이 아닌, 여러분의 감성을 채울 수 있는 경험이 될 거예요. 지금 바로 여러분만의 여행을 시작해보세요!</p>
    </div>
  </div>
{% endblock %}
